body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(215, 14, 14);
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}

#home {
    background-color: #f4f4f4;
}

#about {
    background-color: #ddd;
}

#skills {
    background-color: #f4f4f4;
}

#contact {
    background-color: #ddd;
}
